@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
 *{
   outline: none;
   box-sizing: border-box;
 }
 body{
   width: 100%;
   margin: 0 auto;
   font-family: 'Raleway', sans-serif;

   }
   h1,h2,h3,h4,h5{
     font-family: 'IM Fell Great Primer SC', serif;
   }
   button{
     font-family: 'IM Fell Great Primer SC', serif;
   }

   .trigger{
     color: #8ab186;
     width: 20%;
     float: right;

     padding: 7px 13px;
     margin: 2%;
     cursor: pointer;
     font-weight: bold;
     text-align: center;
     display: none;
   }
   .trigger:active{
     background-color:#f2f7f3;
   }
    .jmenu{

    margin:0 10% 0 0;
    padding-top:1%;
    width: 90%;
    text-align: right;
   }

     .jmenu ul{
       border: none;
     }

    .jmenu li{

    display: inline-block;
    height: 8%;
    width:10%;
    padding: 0 3%;
    }
    .jmenu a {
      font-size: 105%;
      text-transform: uppercase;
   font-family: 'Varela Round', sans-serif;
      color: #fff;
      padding: 1%;
      text-decoration: none;
      transition: all 2s;
      }
   .jmenu a:hover{
   border-bottom:3px solid #96ca00;

   transform: scale(1.1 ,1.3);
   -o-transform: scale(1.1 ,1.3);
   -webkit-transform: scale(1.1 ,1.3);
   -moz-transform: scale(1.1 ,1.3);
   -ms-transform: scale(1.1 ,1.3);
   }

   .jmenu a:active{
   border-bottom:2px solid rgba(0,255,0,1);
 }

   #head{
     height: 900px;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0, 0, 0.5)), url("ff.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 90%);
    color: #f2f7f3;
    margin-top: 0;
   }

#head h3{
   width: 60%;
   line-height: 120%;

   font-size: 400%;
   text-align:left ;
text-transform: capitalize;
   margin-top:10%;
   padding: 2%;
 }
#head h1{
  color: #fffff0;
  font-size: 250%;
font-family: 'Dancing Script', cursive;
  font-style: oblique;
  margin:0 10% 0 1% ;
  float: left;
}
#head p{
padding: 2%;
margin-top:-8%;
font-size: 120%;
line-height: 200%;
}
 #head button{
   display:inline-block;
   font-size: 120%;
   margin: 3% 2%;
   text-align:center;
   background-image: -webkit-linear-gradient(left, #f2f7f3,#96ca00);
   border:1px solid #000;
   border-radius:2em;
   width: 15%;
   height: 8%;
   transition-property:all;
   transition-duration: 2s;
 }

 #head button:hover {
   background-image: -webkit-linear-gradient(left,#96ca00 , #f2f7f3);
   border:none;
 }


#about{
  width:80%;
  margin: 0 auto -43% auto;

  padding: 2%;

}
#about h2{
  font-size: 200%;

  width: 40%;
  text-transform: capitalize;
  border-bottom: 2px solid #f2f7f3;
color: #96ca00;
text-align: center;
 }
#about p{
  width:45%;
  font-size: 120%;
  line-height:120%;
  text-align:center;
  margin:-15px 0 0 0;

}
#about img{
  float: right;
  width: 50%;
  height: auto;
  position: relative;
  bottom: 90px;
}
#how{
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 auto -40% auto;
  box-sizing: border-box;
  padding: 2%;
  clear: both;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

  #how h2{
    font-size: 200%;
    grid-column: 1/-1;
    text-transform: capitalize;
    border-bottom: 2px solid #f2f7f3;
  color: #96ca00;
  text-align: center;

   }

 .cause{
   width: 90%;
 }
 .cause h4{
  color: #96ca00;
 }
 .cause i{
padding-top: 10%;
color: #bab186;
 }

 .cause p{
   width: 70%;
   margin: 0 auto;
 }
 #mid{
  width: 100%;
  margin:0 auto;

  font-size: 150%;
}
.num{
  font-size:200%;
  font-family: cursive;
  margin-bottom:-20%;
}
.first{
  float:right ;
 box-sizing:border-box;
 width: 50%;
 height: 400px;
 margin: 0;
 padding: 1%;
 text-align: center;

}

.first h2{
  font-size: 200%;
  width: 80%;
  text-transform: capitalize;
  border-bottom: 2px solid #b3c8cd;
  margin: 20% auto 1% auto;
color: #96ca00;
text-align: center;
}

.first p{
  color: #000;
  font-size: 110%;
  line-height:120%;
  text-align:center;
}
.first button{
  width: 32%;
  height: 12%;
  font-size: 110%;
  border: 1px solid black;
  border-radius: 5em;
  margin-top: 5%;
  background-image: -webkit-linear-gradient(top left,#f2f7f3,#c5df56);
  transition-property: all;
  transition-duration: 2s;
}

.first button:hover,.first button:active{

  background-image:-webkit-linear-gradient(top left, #96ca00,#f2f7f3);
}

.first button:active{
  transform: scale(1 ,1.3);
  -ms-transform: scale(1 ,1.3);transform: scale(1 ,1.3);
  -o-transform: scale(1. ,1.3);
  -webkit-transform: scale(1. ,1.3);
  -moz-transform: scale(1. ,1.3);
  background-color: #bbdc3f;
}
.second{

  float: left;

 width: 50%;

}
.second p{
margin-top:25%;
color: #f2f7f3;
font-weight: bold;
}
.one{
  height: 300px;
  margin-bottom:-20%;
  padding:0 1%;
  text-align: center;
  border-bottom: 2px solid green;
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0, 0, 0.5)), url("ff.jpg");
}

.two{
  height: 300px;
  margin-top :-24.5%;
  padding:0 1%;
  text-align: center;
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0, 0, 0.5)), url("ff.jpg");
}
#team{
  background-color: #f2f7f3;
  height: 500px;
  margin-top: -5%;
  clear: both;
display: grid;
grid-template-columns: repeat(4,1fr);
padding-left:2%;
}
#team h2{
text-align: center;
grid-column-start: 1;
color: #8ab186;
grid-column-end: 5;
box-sizing: border-box;
text-transform: capitalize;
padding-top:3%;
font-size: 200%;

}

.single-executive img{
  width:90%;
  margin: 0 auto;
}
.info{
  width:90%;
  margin: 1% auto;
  text-align: center;
}
.info h3{
  color: #2e8b57;
  text-transform: capitalize;
}
.info h5{
  font-style: italic;
}

#volunteer{
  margin-top:-2%;
  background:-webkit-linear-gradient(rgba(179, 200, 205, 0.5),rgba(179, 223, 86, 0.5)),url("fa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 height: 600px;

}
.volunteer-box{
  width:60%;
  box-sizing: border-box;
  height:50%;
  padding: 2% 5%;
  background-color:#8ab186;
  color: #f2f7f3;
  position: relative;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.volunteer-box h3{
  text-align: center;
  font-size: 200%;

}

.volunteer-box p{
  text-align: center;
}
 .volunteer-box button{
  width: 40%;
  height: 15%;
  font-size: 110%;
  color: #89ca00;
  border: 2px solid #b3c8cd;
  display: inline-block;
  text-align: center;
  margin:0  28%;
   font-family: 'IM Fell Great Primer SC', serif;
  background-image: -webkit-linear-gradient(top left, #b3c8cd,#f2f7f3);

  transition: all 2s;
}
.volunteer-box button:hover{
  transform: scale(1 ,1.3);
  -ms-transform: scale(1 ,1.3);transform: scale(1 ,1.3);
  -o-transform: scale(1. ,1.3);
  -webkit-transform: scale(1. ,1.3);
  -moz-transform: scale(1. ,1.3);
}
.volunteer-box button:active{
  transform: scale(1 ,1.3);
  -ms-transform: scale(1 ,1.3);transform: scale(1 ,1.3);
  -o-transform: scale(1. ,1.3);
  -webkit-transform: scale(1. ,1.3);
  -moz-transform: scale(1. ,1.3);
}

#header{
  height: 400px;
 background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0, 0, 0.5)), url("ff.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 90%);
 color: #fffff0;
 margin-top:0%;
}
#header h3{
width:40%;
line-height: 120%;
 font-size: 350%;
text-align:left ;
text-transform: capitalize;
 padding:15% 2% 2% 2%;
 color: #bbdc3f;
}
#header h1{
color: #fffff0;
font-size: 200%;
font-family: cursive;
font-style: oblique;
margin:0 10% 0 1% ;
float: left;
}
.sub{
  clear: both;
  width:80%;
  text-align: center;
  margin: 15% auto;
  line-height: 150%;
}
#believe h2{
  font-size: 300%;
  width: 70%;
  text-transform: capitalize;
  margin: auto;
  border-bottom: 2px solid #000;
  color: #bbdc3f;
  text-align: center;

}
#believe ul{
width: 90%;
margin: 1% auto;
}
#believe li{
list-style-type: none;
margin-bottom: 3%;
}

.touch{

  text-align: center;
  color: #bbdc3f;
}
#contact-form{
  width: 80%;
  height:520px;
  margin:2% 5% 20% 5%;
}
#contact-form label{
  font-size: 120%;

  float:  left;
  width: 20%;
vertical-align: middle;

}
 #contact-form input,select,textarea{
   width:55%;
   height: 7%;
   border: 1px solid black;
   margin :3% 3%;
   font-family:lato;
   font-size: 101%;
   padding: 1%;
   transition: all 2s;
 }

#contact-form input:focus{
  border: 2px solid #c5df56;
  background-color:#f2f7f3;
}
 #contact-form textarea{
height: 20%;#
resize: none;
 }

#contact-form .name{
  width: 26%;
  margin :1% 3%;
}
 #contact-form .phone{
  width: 16.6%;
  margin : 1% 1% 1% 3%;

}
 #contact-form .nxt-phone{
  width: 16.6%;
  margin :1% 1% 1% 1%;
}
 #contact-form .nxt-name{
  width: 26%;
  margin :1% -1%;
}

#contact-form button{
  width: 22%;
  height: 8%;
  float: right;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 120%;
  border-radius: 5em;
  background-image: -webkit-linear-gradient(top left, rgba(173,255,47,0.5),rgba(225,258,240,1) );
  margin-top: 5%;
  position: relative;
  right: 21%;
}

#contact-form button:hover{
  background-color:green;
  transform: translate(-4px,-5px);

}
footer{

  margin: -10% auto;
  padding-top: 10% ;
  height:510px;
  text-align: center;
  background-color:#b3c8cd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  clip-path:polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}


.footer-form{

   grid-column:1/-1;
  margin: 0 auto;
  text-align: center;
}


.footer-form input{
  width:100%;
  height: 20%;
  border: 2px solid #555;
  background-color: #fff;
  padding: 1%;
  transition: all 2s;
}

.footer-form input:focus{
background-color: #b3c8cd;
border: 2px solid #96ca00;
}

.footer-form button{
width:70%;
height:15%;
font-family: 'Varela Round', sans-serif;
background-image: -webkit-linear-gradient(top left, rgba(173,255,47,0.5),rgba(225,258,240,1) );
padding: 1%;
margin-left: -1%;
transition: all 2s;
}

.footer-form button:hover,footer-form button:active{
  background-color:#96ca00;
}

.footer-form h3{

  width: 90%;
  color: #bab486;
  text-transform: uppercase;
  display:block;
margin-top: -20%;
  padding-bottom: 5%;
  margin: 0 auto;
}

.footer-div{
  margin-bottom: -20%;
  padding-bottom: -20%;
}
.footer-div h3{

  width: 90%;
  color: #bab186;
  margin: 0 auto;
  text-transform: uppercase;
  display:block;
  padding-bottom: 5%;

}
.footer-div ul{
  width:100%;
  margin-left: -20px;

  text-align: center;
}
.footer-div li{
  list-style-type: none;
}

.footer-div p
{
  margin-bottom:1%;
}


.footer-div a{
  text-transform: capitalize;
  text-decoration: none;
  color:#000;
}
.footer-div a:hover {
  text-decoration: underline;
}

.footer-div a:active{
  text-decoration: underline;
}

 @media (min-width:769px) and (max-width:1249px){
   #how{

     margin: 0 auto 0 auto;
}
.first{
  margin-top:15%;

}

}


@media (min-width: 1250px){
  #mid{
    width: 100%;
    margin:30% auto 0 auto;
    font-family: lato;
    font-size: 150%;
  }
  .first h2{
    margin-top: 13%;
  }
  #header{
    height: 500px;
  }

  .first h2{
    margin: 50% auto 1% auto;
  }

  #team{
    box-sizing: border-box;
    height: 650px;
    margin-top: -2%;
    padding-bottom: 10%;
}

}

 @media (min-width: 481px) and (max-width:768px) {
   #head{
     height:700px;
   }
 #head h1{
   margin:0;
 }

   #head h3{
      width: 60%;
      font-size: 300%;
      margin:0 0 5% 0;
      padding-top: 15%;
    }

   #head button{
      width: 20%;
      height: 6%;
    }
    .trigger{
      display: block;
    }
    .jmenu{
    margin: 0;
    padding:0;
    width: 100%;
    background-color:#fff;
    text-align: right;
    display: none;
   }
  .jmenu ul{
    padding-top: 0;
    float: none;
  }
  .jmenu ul.active{
    display:block;

  }
    .jmenu li{
    display:block;
    height: 8%;
    width:10%;
    padding: 31% 3%;
    text-align: right;
    }

    .jmenu a {
      font-size: 100%;
      padding: 0;
      color:#000;
    }



   #team{
     width: 100%;
     box-sizing: border-box;
     margin:-4% auto 0 auto;
     padding-left: 3%;
     height: 1000px;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     }

   #team h2{
   text-align: center;
   grid-column-start: 1;
   grid-column-end: 3;
   }

   #about{

     margin: 0 auto 0 auto;
}

   #about h2{
   font-size: 200%;
   width: 80%;
   margin: 0 auto;
   text-align: center;

   }
   #about p{
   width:95%;
   font-size: 110%;
   line-height:120%;
   text-align:center;
   margin-top:1%;

   }
   #about img{
   display: none;

   }
   #how{
     margin: 0 auto -20% auto;
   }

   #mid{
     margin:20% auto 0 auto;
     font-size: 120%;
   }

   .first{
     margin-top: 5%;
    height: 300px;
   }

   .first h2{
     font-size: 150%;
   }
   .first p{
     color: #000;
     font-size: 100%;
     line-height:120%;
   }

   .one{
     height: 150px;
     margin-bottom:-20%;
   }

   .two{
     height: 150px;
     margin-top :-24.5%;}

       .sub{
         margin-top: 40%;
       }
       #believe h2{
         font-size: 250%;
       }
   #volunteer{
     margin-top:-2%;

     height: 600px;

   }

   .volunteer-box{
     height: 60%;
   }
   .volunteer-box button{
     width: 40%;
     height: 12%;
   }
   #contact-form button{
     width: 25%;
     height: 8%;
     position: relative;
     right: 10%;
     top: 100px;
   }

   #contact-form select{
   height: 9%;
   }
   #contact-form input{
   margin-top: 5%;
   }
   #contact-form textarea{
   height: 20%;
   width: 55%;
   margin-top: 2%;
   }

   #contact-form .phone{
   width: 16.6%;
   margin :1% 1%  1% 3%;

   }
   #contact-form .nxt-phone{
   width: 16.6%;
   margin :1% 1%  1% 1%;}

   #contact-form button{
   margin-top: -5%;

   }

   footer{
     margin-top:-20%;
     padding-top:18%;
     height:650px;
   }
   .footer-div h3{
     font-size: 90%;
   }

   .footer-div ul{
     margin:0 auto 0 -23px;
     text-align: center;
    }

   }



 @media (max-width:480px) {
     #head{
       height:750px;
     }
      #head h1{

      font-size: 120%;
    }

     #head h3{
       clear: both;
        width: 60%;
        font-size: 250%;
        margin-top:0;
        padding: 2%;
      }
  #head button{
        width: 30%;
        height: 6%;
      }
      #team{
        width: 100%;
        margin:-4% auto 0 auto;
        box-sizing: border-box;
        height:700px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        }

      #team h2{
      text-align: center;
      grid-column-start: 1;
      grid-column-end: 3;
    }

     .trigger{
       display: block;
     }
     .jmenu{
      height: 50vh;
     margin: 0;
     padding:0;
     width: 100%;
     background-color:#fff;
     text-align: right;
     display: none;
    }
   .jmenu ul{
     padding-top: 0;
     float: none;
   }
   .jmenu ul.active{
     display:block;

   }
     .jmenu li{
     display:block;
     height: 8%;
     width:10%;
     padding:10% 3%;

     text-align: right;
     }

     .jmenu a {
       font-size: 100%;
       padding: 0;
       color:#000;
     }


     .volunteer-box{
       width: 80%;
       height: 60%;
     }


.single-executive img{
  width: 95%;
  margin: -3% auto;
}

.single-executive h5{
  margin-top: -5%;
}

#about{
  margin: 0 auto 0 auto;
}

   #about h2{
     font-size: 150%;
     width: 80%;
     margin: 0 auto;
   text-align: center;

   }
   #about p{
     width:98%;
     font-size: 110%;
     line-height:120%;
     text-align:center;
     margin:1% auto;
}

   #about img{
    display: none;
}

#how{
  margin: 0 auto -20% auto;
  display: block;
}

.cause{
  margin: 0 auto;
}
     #mid{
       width: 100%;
       margin: 0 auto 0 auto;
       font-family: lato;
       font-size: 150%;
     }
     .num{
       font-size:150%;
       margin-bottom: ;
     }

     .first{
       float:none;
       margin: 0 auto;
      box-sizing:border-box;
      width: 95%;
      height: 400px;
}

     .first h2{
       font-size: 120%;
     }

     .first p{
       color: #000;
       font-size: 80%;
       line-height:120%;
       text-align:center;
     }

     .first button{
       width: 38%;
       height: 12%;
       font-size: 100%;
     }
      .second{
        float: none;
      box-sizing: ;
      width: 100%;
      margin-top: -10%;

     }.second p{
     margin-top:25%;
     color: #fff;
     font-weight: bold;
     }
     .one{
       height: 200px;
       margin-bottom:-20%;
     }
     .two{
       height: 200px;
       margin-top :-24.5%;
     }
     #believe h2{
       font-size: 150%;
       width: 70%;
     }
     #believe ul{
     width: 80%;
     padding: 1% 10%;
     line-height: 120%;
     }
     #believe li{
     list-style-type: none;
     margin-bottom: 5%;

     }

      #volunteer{
       margin-top:-2%;
       height: 660px;
      }
       .volunteer-box button{
       width: 50%;
       height: 12%;
     }
     #contact-form{
       width: 90%;
       margin:5% 5%;
       box-sizing: border-box;
     }

     #contact-form label{
       font-size: 100%;
     }

     #contact-form input,select,textarea{
       width:55%;
       height: 6%;
       margin :5% 3%;
       font-size: 90%;
     }

    #contact-form button{
      width: 30%;
      height: 8%;
    }
    .sub{
      margin-top: 50%;
    }
     footer{
       margin:-38% auto 0 auto;
       height: 820px;
       display: block;
       padding-top: 15%;
       padding-bottom: 0;
    }

     .footer-div{
       margin:3% auto;
       width:90%;
       text-align: center;
     }
     .footer-div h3{
       margin-bottom: -3%;
       margin-top: 15%;
     }


      .footer-div ul{
        margin:0 auto 0 -23px;
        text-align: center;
       }
     .footer-form{
       margin:3% auto;
       width:90%;

     }
     .footer-form input{
       width: 70%;
       height: 7%;
       margin: 0;
     }
     .footer-form button{
     width:27%;
     height: 7%;

   }
      }

   /*  */
